body {
    margin: 0;
    line-height: 1.6;
}

li {
    color: black;
    font-size: 12px;
    text-align: justify;
}

h1 {
    color: rgba(80,203,164,255);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    font-weight: 900;
}

a {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

p {
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    text-decoration: underline;
    color: rgba(185,185,185,255);
}

a:hover {
    color: rgb(21, 27, 206);
}

.header {
    background: whitesmoke;
    padding: 20px;
    height: auto;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: lightgray;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    background-image: url("img/logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

.menu a {
    padding: 0 100px;
    text-decoration: none;
}

.nav a {
    margin: 50px;
}

.Part1, .Part2 {
    background: rgba(238,238,238,255);
    padding: 20px;
    background-image: url("img/logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

table,
td {
    border: 5px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}